
.ui-button-text-only .ui-button-text .btnVerde{
	background:#28a745 !important;
	color: white!important;
}

.fondo{
	background-image:url(/Expert4/resources/images/f6.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;

	 background-repeat: no-repeat;
}
.btnVerde{
	background:#28a745 !important;
	color: white!important;
	border: green!important;
}
.btnRed{
	background:red !important;
	color: white!important;
	border: red!important;
}
#prub{
	background:red !important;
}
.menubar {
	 -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
    backdrop-filter: blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
	 border-radius: 5px;
	  border: 1px solid black !important;
	}
.colorR{
	color:#A80000;
}	
.ui-menu, .ui-menu .ui-menu-child {
	background-color: #A80000 !important; background: #dc3545;
}
.ui-widget-content a {
    color: white!important;
}

